<!-- templates/login.html -->
{% extends "layout.html" %}
{% block title %}Login | Verdant{% endblock %}

{% block content %}
{% block hero_section %}{% endblock %}  <!-- This removes the hero section -->
<h2>Login</h2>
<form method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit" class="btn">Log In</button>
</form>

<p style="margin-top:1rem;">
  Don't have an account? 
  <a href="{{ url_for('register') }}">Register</a> 
</p>
{% endblock %}
